<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="loginLabel">Log</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/" method="post">
          <div class="form-group">
            <label class="text-white" for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label class="text-white" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" />
          </div>
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
      </div>
      <div class="modal-footer">
        <label class="text-white" for="email">New to Master Class ?</label>
        <a href="/addUser" type="button" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
  </div>
</div>
