<div id="animation-zoom-out" class="video-container bg" style="display: none;">
    <video autoplay poster="" class="video-parallax" loop muted>
      <source src="https://static.pexels.com/lib/videos/free-videos.mp4" type="video/mp4">
    </video>
</div>